@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Sansita+Swashed:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    overflow: auto;
    overflow-x: hidden;
}
/*--- base.html ---*/

header {
    background-color: #c48b9f;
}

header h1 {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

header h3 {
    font-family: "PT Sans", sans-serif;
    font-size :24px;
    text-align: center;
}

.logo a {
    width: 100%;
    height: auto;
}

.menu {
    padding: 20px;
}

footer, footer a {
    color: #f8bbd0;
}

/*---base.html media queries ---*/
@media (max-width: 770px) {
    .logo {
        display: none;
    }

    .header h1 {
        font-family: "Sansita Swashed", sans-serif;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
}

    .header h3 {
        font-family: "PT Sans", sans-serif;
        font-size :24px;
        text-align: center;
}

}

@media (max-width:380px) {
    .menu {
        margin-left: 20%;
    }
}
/*--- reused elements ---*/
.card {
    border: 1px, black;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.card-img-top {
    padding: 10px;
    max-height: auto;
    width: 75%;
    justify-content: center;
}

.card-btn {
    width: 100%;
}

.my-btn, .my-btn a {
    border: 1px, black;
    font-family: "PT sans", sans-serif;
    border-radius: 5px;
    background-color: #f8bbd0;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}


.alt-btn, .alt-btn a {
    background-color: #c48b9f;
    border: 1px black;
    font-family: "pT sans", sans-serif;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin: 10px;
}

/*--- recipe cards ---*/

.recipe_card {
    display: block;
}

@media (max-height:450px) {
    .overview img, .recipe_card img {
        max-width: 50% !important;
        margin-left: 25%;
    }
}
/*--- show and hide cards with recipes on ---*/

.hidden {
    display: none
}

.lrg-card {
    max-width: 200px;
}

.my-card {
    margin-left: 5%;
}

.my-card img {
    margin-left: 12%;
}
/*--- browse.html ---*/

.carousel-item {
    height: 266.667px;
    overflow-y: hidden;
}

.carousel-item img {
    position: absolute;
    top: -75%;
}

.carousel-heading {
    z-index: 100;
    position: relative;
    top: 30%;
    font-size: xxx-large;
    color: #f8bbd0;
}
.browse-card {
    margin-left: 10%;
    height: 400px;
}

.browse-card img {
    margin-left: 12%;
}

.results_row {
    height: 50px;
}

/*--- browse media queries ---*/
@media (max-width:1400px) {
    .browse-card {
        margin-left: 0;
    }
}

@media (max-width:1100px) {
    .browse-card {
        margin-left: 5%;
    }
}
/*--- forms ---*/

form {
    margin-top: 3px;  
    margin-left: 5px;
    padding-left: 5px;
     background-color: #f8bbd0;  
   
}

textarea, #image, #name {
    margin-left: 2px;
    border-radius: 5px;
}

#name, #image {
    height: 24px;
    margin-top: 30px;
}

.sub-heading {
    font-family: "Sansita Swashed", sans-serif;
    margin: 5px;
}

.sub-heading-middle {
    text-align: center;
    font-family: "Sansita Swashed", sans-serif;
    margin: 6px;
}

.option {
    margin-right: 5px;
}

.medium {
    display: none;
}


/*--- form media queries ---*/
@media (max-width:770px) {
    .medium {
        display: inline;
    }
}

@media (max-width:400px) {
    .option {
        margin-right: 2px;
    }
}