@import url("https://fonts.googleapis.com/css2?family=PT+Sans&family=Sansita+Swashed:wght@500&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    overflow: auto;
    overflow-x: hidden;
}
/*--- base.html ---*/

header {
    background-color: #c48b9f;
}

.logo {
    height: 184px;
    width: 400px;
}

header h1 {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}

header h3 {
    font-family: "Sansita Swashed", sans-serif;
    font-size: 24px;
    text-align: center;
}

.logo a {
    width: 100%;
    height: auto;
}

.menu {
    padding: 20px;
}

footer {
    background-color: #c48b9f;
    padding: 12px;
    color: #ffffff;
}

footer a {
    color: #ffffff;
}

/*---base.html media queries ---*/
@media (max-width: 770px) {
    .logo {
        display: none;
    }

    .header h1 {
        font-family: "Sansita Swashed", sans-serif;
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }

    .header h3 {
        font-family: "PT Sans", sans-serif;
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 380px) {
    .menu {
        margin-left: 20%;
    }
}
/*--- reused elements ---*/
.card {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

button a {
    width: 100%;
}
/*--- search.html ---*/
.card-img-top {
    padding: 10px;
    width: 75%;
    justify-content: center;
}

.card-btn {
    width: 100%;
}

.my-btn,
.my-btn a {
    border: 1px black;
    font-family: "PT sans", sans-serif;
    border-radius: 5px;
    background-color: #f8bbd0;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}

#search {
    width: 95%;
}

.alt-btn,
.alt-btn a {
    background-color: #c48b9f;
    border: 1px black;
    font-family: "pT sans", sans-serif;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin: 10px;
}

.view {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 95%;
}

/*--- search media queries ---*/
@media (min-width: 750px) and (max-width: 1050px) {
    .my-card {
        height: 540px;
        margin: 0;
    }
}

/*--- recipe cards ---*/
.hidden {
    display: none;
}

.lrg-card {
    max-width: 200px;
}

.my-card {
    margin-left: 5%;
    height: 505px;
}

.line-clamp {
    /*--- keeps notes max length on card ---*/
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.allergies {
    float: left;
    text-decoration: none;
    margin: 10px;
    list-style-type: none;
}

/*--- browse.html ---*/
.carousel-item {
    height: 266.667px;
    overflow-y: hidden;
}

.carousel-item img {
    /*--- show center section of image covering div ---*/
    position: absolute;
    top: -75%;
}

.carousel-heading {
    z-index: 100; /*--- ensure text is on top---*/
    position: relative;
    top: 30%;
    font-size: 3rem;
    color: #f8bbd0;
}
.browse-card {
    margin-left: 10%;
}

.browse {
    /*--- needed to override purple form background ---*/
    background-color: #ffffff;
    width: 100%;
    text-align: left;
}

.browse-card img,
.overview img {
    /*--- overview element on search.html ---*/
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/*--- browse media queries ---*/
@media (max-width: 1400px) {
    .browse-card {
        margin-left: 0;
    }
}

@media (max-width: 1100px) {
    .browse-card {
        margin-bottom: 5px;
        width: 100% !important; /*--- important used to override external css ---*/
    }
}

/*--- forms ---*/
form {
    margin-top: 3px;
    margin-left: 5px;
    padding-left: 5px;
    background-color: #f8bbd0;
}

.add-form,
.update-form {
    padding: 5px;
    padding-right: 10px;
}

textarea,
#image,
#name {
    margin-left: 2px;
    border-radius: 5px;
}

#image {
    height: 24px;
    margin-top: 0;
    margin-bottom: 25px;
}

#name {
    margin-top: 25px;
}
.sub-heading {
    font-family: "Sansita Swashed", sans-serif;
    margin: 5px;
}

.sub-heading-middle {
    text-align: center;
    font-family: "Sansita Swashed", sans-serif;
    margin: 6px;
}

.option {
    margin-right: 5px;
}

/*--- form media queries ---*/

@media (max-width: 400px) {
    .option {
        margin-right: 2px;
    }
}
