{% extends 'base.html' %}
{% block content %}
<div class="row">
    <form action="{{url_for('add_recipe')}}" method="POST" class="row">
        <input type="text" id="name" name="name" required placeholder="Recipe name...">
        <div class="col-md-3">
        <h4>Cuisine</h4>
        {% for x in cuisine %}
                    {{x.cuisine}}<input type="checkbox" value="{x.cuisine}}" name="cuisine"><br>
        {% endfor%}
      </div>
        <div class="col-md-3">
        <h4>Protein</h4>
        {% for x in protein %}
                    {{x.protein}}<input type="checkbox" value="{x.protein}}" name="protein"><br>
        {% endfor%}
      </div>
        <div class="col-md-3">
        <h4>carbs</h4>
        {% for x in carbs %}
                    {{x.carbs}}<input type="checkbox" value="{x.carbs}}" name="carbs"><br>
        {% endfor%}
      </div>
        <div class="col-md-3">
        <h4>Diet</h4>
        {% for x in diet %}
                    <p>{{x.diet}}</p><input type="checkbox" value="{x.diet}}" name="diet"><br>
        {% endfor%}
      </div>
        <div class="col-md-3">
        <h4>Any allergens?</h4>
        {% for x in allergies %}
                    {{x.allergies}}<input type="checkbox" value="{x.allergies}}" name="allergies"><br>
        {% endfor%}
        </div>
        <label for="ingredients">Ingredient list:</label>
        <textarea name="ingredients" id="ingredients" cols="30" rows="10" required></textarea>
        <label for="method">Method:</label>
        <textarea name="method" id="method" cols="30" rows="10" required></textarea>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
        <input type="text" id="image" name="image" placeholder="URL for image">
        <button type="submit" id="add">Submit</button>
    </form>
</div>
{% endblock %}