{% extends 'base.html' %}
{% block content %}
<div>
    <h3 class="sub-heading">Add Your Recipe...</h3>
    <form action="{{url_for('add_recipe')}}" method="POST">
        <input type="text" id="name" name="name" required placeholder="Recipe name...">
        <hr>
        <div class="col-lg-12 form-div">
        <h4>Cuisine</h4>
        {% for x in cuisine %}
                {{x.cuisine | capitalize}} <input type="checkbox" value="{x.cuisine}}" class="option" name="cuisine">
        {% endfor%}
        <hr>
      </div>
        <div class="col-lg-12 form-div">
        <h4>Protein</h4>
        {% for x in protein %}
            {{x.protein | capitalize}} <input type="checkbox"  class="option" value="{x.protein}}" name="protein">
        {% endfor%}
        <hr>
      </div>
        <div class="col-lg-12 form-div">
        <h4>carbs</h4>
        {% for x in carbs %}
            {{x.carbs | capitalize}} <input type="checkbox" class="option" value="{x.carbs}}" name="carbs">
        {% endfor%}
        <hr>
      </div>
        <div class="col-lg-12 form-div">
        <h4>Diet</h4>
        {% for x in diet %}
            {{x.diet | capitalize}} <input type="checkbox" class="option" value="{x.diet}}" name="diet">
        {% endfor%}
        <hr>
      </div>
        <div class="col-lg-12 form-div">
        <h4>Any allergens?</h4>
        {% for x in allergies %}
            {{x.allergies | capitalize}} <input type="checkbox" class="option" value="{x.allergies}}" name="allergies">
        {% endfor%}
        <hr>
        </div>
        <div class="row">
        <div class="col-lg-4 form-div"><br>
            <label for="ingredients">Ingredient list:</label><br class="medium">
            <textarea name="ingredients" id="ingredients" cols="30" rows="10" required></textarea>
        </div>
        <div class="col-lg-4 form-div">
            <label for="method">Method:</label><br>
            <textarea name="method" id="method" cols="30" rows="10" required></textarea>
        </div>
        <div class="col-lg-4 form-div">
            <label for="notes">Notes:</label><br>
            <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
        </div>
        <div class="col-lg-4 form-div">
            <label for="image">Add picture:</label>
            <input type="text" id="image" name="image" placeholder="URL for image">
        </div>
        <div class="col-lg-4 form-div">
            <button type="submit" id="add" class="alt-btn btn">Submit</button>
        </div>
        </div>
    </form>
</div>
{% endblock %}