{% extends 'base.html' %} {% block content %}
<!-- row puts cancel button next to page title -->
<div class="row">
    <div class="col-1">
        <!-- cancel button out of form as not to post data from form-->
        <a class="btn alt-btn" href="{{url_for('recipes')}}">Cancel</a>
    </div>
    <div class="col-6 offset-2">
        <h3 class="sub-heading-middle">Add Your Recipe...</h3>
    </div>
</div>
<!-- add recipe form -->
<form action="{{url_for('add_recipe')}}" method="POST" class="add-form">
    <input type="text" id="name" name="name" required placeholder="Recipe name..." />
    <hr />
    <div class="col-lg-12">
        <h4 class="sub-heading">Cuisine</h4>
        <!--- unable to use required attribute as for loop adds to every option-->
        {% for x in cuisine %} {{x.cuisine | capitalize}} <input type="checkbox" value="{{x.cuisine}}" class="option" name="cuisine" />
        {% endfor%}
        <hr />
    </div>
    <div class="col-lg-12">
        <h4 class="sub-heading">Protein</h4>
        {% for x in protein %} {{x.protein | capitalize}} <input type="checkbox" class="option" value="{{x.protein}}" name="protein" />
        {% endfor%}
        <hr />
    </div>
    <div class="col-lg-12">
        <h4 class="sub-heading">carbs</h4>
        {% for x in carbs %} {{x.carbs | capitalize}} <input type="checkbox" class="option" value="{{x.carbs}}" name="carbs" />
        {% endfor%}
        <hr />
    </div>
    <div class="col-lg-12">
        <h4 class="sub-heading">Diet</h4>
        {% for x in diet %} {{x.diet | capitalize}} <input type="checkbox" class="option" value="{{x.diet}}" name="diet" />
        {% endfor%}
        <hr />
    </div>
    <div class="col-lg-12">
        <h4 class="sub-heading">Any allergens?</h4>
        {% for x in allergies %} {{x.allergies | capitalize}} <input type="checkbox" class="option" value="{{x.allergies}}" name="allergies" />
        {% endfor%}
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-4">
            <label class="sub-heading" for="ingredients">Ingredient list:</label><br />
            <textarea name="ingredients" id="ingredients" cols="32" rows="10" required></textarea>
        </div>
        <div class="col-lg-4">
            <label class="sub-heading" for="method">Method:</label><br />
            <textarea name="method" id="method" cols="34" rows="10" required></textarea>
        </div>
        <div class="col-lg-4">
            <label class="sub-heading" for="notes">Summary:</label><br />
            <textarea name="notes" id="notes" cols="32" rows="10" maxlength="500" required></textarea>
        </div>
        <div class="col-lg-4">
            <label class="sub-heading" for="image">Add a picture:</label>
            <!-- type url added to ensure a proper web address format is entered, starting http:// or https:// -->
            <input type="url" id="image" name="image" placeholder="URL for image location" required />
        </div>
        <div class="col-lg-4">
            <label class="sub-heading" for="source">Source of Recipe:</label>
            <input type="text" id="source" name="source" placeholder="Book/Website" required />
        </div>
        <div class="col-lg-4">
            <button type="submit" id="add" class="alt-btn btn">Submit</button>
        </div>
    </div>
</form>
{% endblock %}
