{% extends "base.html" %}
{% block content %} 
<!---carosusel from bootstrap-->
<div id="my-carousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{{one.image}}" class="d-block w-100" alt="{{one.name}}">
        </div>
        </div>
        <div class="carousel-item">
            <img src="{{two.image}}" class="d-block w-100" alt="{{two.name}}">
        </div>
        <div class="carousel-item">
            <img src="{{three.image}}" class="d-block w-100" alt="{{three.name}}">
        </div>
        <div class="carousel-item">
            <img src="{{four.image}}" class="d-block w-100" alt="{{four.name}}">
        </div>
        <div class="carousel-item">
            <img src="{{five.image}}" class="d-block w-100" alt="{{five.name}}">
        </div>
</div>
<!--- end carousel code-->
<!--- category cards, bootstrap cards-->
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/italian.png" class="card-img-top" alt="Italian Flag">
            <div class="card-body">
                    <h5 class="card-title" id="italian">Italian food</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_italian')}}">Search...</a></button>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/rice.jpeg" class="card-img-top" alt="Rice">
            <div class="card-body">
                    <h5 class="card-title" id="rice">Rice meals</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_rice')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/veg.jpg" class="card-img-top" alt="Veg">
            <div class="card-body">
                    <h5 class="card-title" id="vegetarian">Vegetarian Meals</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_vegetarian')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/pasta.jpg" class="card-img-top" alt="Pasta Dishes">
            <div class="card-body">
                    <h5 class="card-title" id="pasta">Pasta Dishes</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_pasta')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/sweet.jpg" class="card-img-top" alt="Sweet Foods">
            <div class="card-body">
                    <h5 class="card-title" id="sweet">Sweet treats</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_sweet')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/beef.jpg" class="card-img-top" alt="Beef Dishes">
            <div class="card-body">
                    <h5 class="card-title" id="beef">Beef Dishes</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_beef')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/poultry.png" class="card-img-top" alt="Poulrty Dishes">
            <div class="card-body">
                    <h5 class="card-title" id="poultry">Poultry Dishes</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_poultry')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/mexico.png" class="card-img-top" alt="Mexican meals">
            <div class="card-body">
                    <h5 class="card-title" id="mexican">Mexican meals</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_mexican')}}">Search...</a></button>   
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-5">
        <div class="card browse-card" style="width: 18rem;">
            <img src="static/images/italian.png" class="card-img-top" alt="Italian Flag">
            <div class="card-body">
                    <h5 class="card-title" id="pork">Pork meals</h5>
                    <button type="submit" class="btn my-btn"><a href="{{url_for('search_pork')}}">Search...</a></button>   
            </div>
        </div>
    </div>
</div>

{% endblock %}
