{% extends 'base.html' %}
{% block content %}
<div class="form">
    <form  method="POST" action="/search_recipes" class="row">
      <div class="col-md-3">
        <h4>Cuisine</h4>
        English<input type="checkbox" name="cuisine" value="english" id="english"><br>
        Mediterranean<input type="checkbox" name="cuisine" value="mediterranean" id="mediterranean"><br>
        Indian<input type="checkbox" name="cuisine" value="indian" id="indian"><br>
        Chinese<input type="checkbox" name="cuisine" value="chinese" id="chinese"><br>
        Mexican<input type="checkbox" name="cuisine" value="mexican" id="mexican"><br>
        American<input type="checkbox" name="cuisine" value="american" id="american"><br>
        Italian<input type="checkbox" name="cuisine" value="italian" id="italian"><br>
        Other<input type="checkbox" name="cuisine" value="other" id="other_cuisine"><br>
      </div>
      <div class="col-md-3">
        <h4>Protein</h4>
        Fish<input type="checkbox" name="protein" value="fish" id="fish"><br>
        Poultry<input type="checkbox" name="protein" value="poultry" id="poultry"><br>
        Beef<input type="checkbox" name="protein" value="beef" id="beef"><br>
        Pork<input type="checkbox" name="protein" value="pork" id="pork"><br>
        Lamb<input type="checkbox" name="protein" value="lamb" id="lamb"><br>
        Other<input type="checkbox" name="protein" value="other" id="other"><br>
        None<input type="checkbox" name="protein" value="" id="none"><br>
      </div>
      <div class="col-md-3">
        <h4>carbs</h4>
        Pasta<input type="checkbox" name="carbs" value="pasta" id="pasta"><br>
        Rice<input type="checkbox" name="carbs" value="rice" id="rice"><br>
        Potato<input type="checkbox" name="carbs" value="potato" id="potato"><br>
        Bread<input type="checkbox" name="carbs" value="bread" id="bread"><br>
        Pulps/Grains<input type="checkbox" name="carbs" value="pulps" id="pulps"><br>
        None<input type="checkbox" name="carbs" value="" id="carbs"><br>
      </div>
      <div class="col-md-3">
        <h4>Diet</h4>
        Vegetarian<input type="checkbox" name="diet" value="vegetarian" id="vegetarian"><br>
        Vegan<input type="checkbox" name="diet" value="vegan" id="vegan"><br>
        None<input type="checkbox" name="diet" value="" id="diet"><br>
      </div>
        <button class="btn my-btn">Search</button>
    </form>
</div>
<div class="row">
     {% for x in recipes %}
        <div class="col-md-3 overview">
            <h3> {{x.name}}</h3>
            <p>{{x.notes}}</p>
            <p>Allergens: {{x.allergies}}</p>
            <button class="btn my-btn view">View</button>
        </div>
        <div class="col-md-3 recipe_card hidden" id="{{x._id}}">
            <h4 class="recipe_card">Ingredients</h4>
            <p class="recipe_card">{{x.ingredients}}</p>
            <h4 class="recipe_card">Method</h4>
            <p class="recipe_card">{{x.method}}</p>
            <button class="btn my-btn close">Close</button>
        </div> 
        {% endfor %}
</div>
{% endblock %}