{% extends 'base.html' %}
{% block content %}

    <form action="{{url_for('update_recipe', recipe_id = recipes._id)}}" method="POST" class="col s12">
        <input type="text" id="name" name="name" required value="{{recipes.name}}">
        <div class="row no gutters">
        <div class="col-md-3">
        <h4>Cuisine</h4>
        {% for x in cuisine %}
            {% if x.cuisine == recipes.cuisine %}
                <p>{{x.cuisine}}</p><input type="checkbox" name="diet"  value="{{x.cuisine}}" checked><br>
            {% else %}
                <p>{{x.cuisine}}</p><input type="checkbox" name="diet"  value="{{x.cuisine}}"><br>
            {% endif %}
        {% endfor %}
      </div>
        <div class="col-md-3">
        <h4>Protein</h4>
        {% for x in protein %}
            {% if x.protein == recipes.protein %}
                <p>{{x.protein}}</p><input type="checkbox" name="diet"  value="{{x.protein}}" checked><br>
            {% else %}
                <p>{{x.protein}}</p><input type="checkbox" name="diet"  value="{{x.protein}}"><br>
            {% endif %}
        {% endfor %}
      </div>
        <div class="col-md-3">
        <h4>carbs</h4>
        {% for x in carbs %}
            {% if x.carbs == recipes.carbs %}
                <p>{{x.carbs}}</p><input type="checkbox" name="diet"  value="{{x.carbs}}" checked><br>
            {% else %}
                <p>{{x.carbs}}</p><input type="checkbox" name="diet"  value="{{x.carbs}}"><br>
            {% endif %}
        {% endfor %}
        </div>
        <div class="col-md-3">
        <h4>Diet</h4>
        {% for x in diet %}
            {% if x.diet == recipes.diet %}
                <p>{{x.diet}}</p><input type="checkbox" name="diet"  value="{{x.diet}}" checked><br>
            {% else %}
                <p>{{x.diet}}</p><input type="checkbox" name="diet"  value="{{x.diet}}"><br>
            {% endif %}
        {% endfor %}
      </div>
        <div class="col-md-3">
        <h4>Any allergens?</h4>
        {% for x in allergies %}
            {% if x.allergies == recipes.allergies %}
                <p>{{x.allergies}}</p><input type="checkbox" name="diet"  value="{{x.allergies}}" checked><br>
            {% else %}
                <p>{{x.allergies}}</p><input type="checkbox" name="diet"  value="{{x.allergies}}"><br>
            {% endif %}
        {% endfor %}
        </div>
        <div class="col-md-3">
        <label for="ingredients">Ingredient list:</label>
        <textarea name="ingredients" id="ingredients" cols="30" rows="10" required>{{recipes.ingredients}}</textarea>
        <label for="method">Method:</label>
        <textarea name="method" id="method" cols="30" rows="10" required>{{recipes.method}}</textarea>
        <label for="notes">Notes:</label>
        <textarea name="notes" id="notes" cols="30" rows="10">{{recipes.notes}}</textarea>
        <label for="image">Image:</label>
        <input type="text" name="image" placeholder="{{recipes.image}}">
        </div>
        </div> 
        <button type="submit">Update</button>
        <button><a href="{{url_for('delete_recipe', recipe_id=recipes._id)}}">Delete</a></button>
    </form>

{% endblock %}